*.pdf
*.psc-ide-port
.DS_Store
/.spago
/output/
node_modules
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.aux
*.log
*.out
*.synctex.gz
*.synctex(busy)
venv/
benchmark/
*.agdai
/preprocessing/.ipynb_checkpoints/*
./ipynb_checkpoints
preprocessing/.ipynb_checkpoints/preprocess_CMIP6-checkpoint.ipynb
/preprocessing/CMIP6_tas_landsea/.ipynb_checkpoints
