.ipynb_checkpoints/
.spago
.vscode/
.DS_Store
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.psc-ide-port
*.synctex.gz
*.synctex(busy)
benchmark/
dist/
logs/
node_modules
output/
target/
venv/
yarn.lock
preprocessing/.ipynb_checkpoints/*
preprocessing/CMIP6_tas_landsea/.ipynb_checkpoints
